
        <form method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text" name="title" value="{{ title }}">
                <label for="content">Content</label>
                <textarea class="form-control" name="content">{{ content }}</textarea><br>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name="category">
                        {% for cat in categories %}
                            <option value="{{ cat.id_cat }}">{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary" type="submit" value="Submit" name="addArticle">Submit</button>
                <button class="btn btn-secondary" type="submit" value="Cancel" name="resetArticle">Cancel</button>
            </div>

        </form>
        <div>
            {{ msg }}
        </div>
