<ul class="list-group">
    {% for category in cat %}
        {% if( user ) %}
                <li class="list-group-item d-flex justify-content-between"><a href="{{ constant('ROOT') }}category/{{ category.id_cat }}">{{ category.name }}</a>
                    <a class="btn btn-success w-25" href="{{ constant('ROOT') }}category/edit/{{ category.id_cat }}">Edit</a>
                </li>
        {% else %}
                <li class="list-group-item"><a href="{{ constant('ROOT') }}category/{{ category.id_cat }}">{{ category.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>