<p>Рубрика - <strong><a href="{{ constant('ROOT') }}category/{{ new_content.id_cat }}">{{ new_cat.name }}</a></strong></p>
<p>{{ new_content.content }}</p>
<p><i>{{ new_content.dt }}</i></p>
<p><a href="{{ constant('ROOT') }}">Back</a></p>


